@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap");
.product {
  position: relative;
}

.product .product-card {
  position: relative;
  width: 230px;
  height: 350px;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
}

.product .product-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1bbfe9;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.product .product-card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.product .product-card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.product .product-card .img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.product .product-card:hover .img {
  top: 0%;
  transform: translateY(-25%);
}

.product > .product-card > .img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
}

.product .product-card .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.product .product-card:hover .content {
  height: 210px;
}

.product .product-card .content h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.product .product-card .content .size,
.product .product-card .content .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.product .product-card:hover .content .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.product .product-card:hover .content .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.product .product-card .content .size h3,
.product .product-card .content .color h3 {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.product .product-card .content .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.product .product-card .content .size span:hover {
  background: #b90000;
}

.product .product-card .content .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.product .product-card .content .color span:nth-child(2) {
  background: #1bbfe9;
}

.product .product-card .content .color span:nth-child(3) {
  background: #1b2fe9;
}

.product .product-card .content .color span:nth-child(4) {
  background: #080481;
}

.product .product-card .content a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  z-index: 100;
}

.product .product-card:hover .content a {
  opacity: 1;
  transform: translateY(0px);
}
