@import url("https://fonts.googleapis.com/css?family=Arimo");

body {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}

.body {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  display: flex;
  justify-content: center;
  font-family: "Arimo";
  background-color: #eb9478;
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  animation: slideUp 2000ms ease;

  -webkit-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-radius: 6px;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.page {
  width: 65%;
  padding: 5% 10%;
}

h1 {
  align-self: center;
}

form {
  width: 100%;

  > * {
    margin-top: 20px;
  }
}

input {
  width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-family: "Arimo";
  margin-top: 5px;
  color: #8e2807;
  border-radius: 4px;
}

label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #8e2807;
}

h1 {
  font-size: 24px;
  line-height: 10px;
  color: #493b76;
  letter-spacing: 1px;
}
span {
  font-size: 24px;
  line-height: 10px;
  color: #493b76;
  letter-spacing: 1px;
}
.cards > label {
  font-size: 15px;
}

form > h1:nth-of-type(2) {
  margin-top: 10%;
}

.name {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.name > div {
  width: 45%;
}

.address-info {
  display: flex;
  justify-content: space-between;
}
.address-info > div {
  width: 30%;
}

.cc-info {
  display: flex;
  justify-content: space-between;
}
.cc-info > div {
  width: 45%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
button {
  margin: 3px 0;
  height: 30px;
  width: 40%;
  color: white;
  background-color: #4a3b76;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}
button:hover {
  animation-name: btn-hov;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

@keyframes btn-hov {
  100% {
    background-color: #cfc9e1;
    color: #4a3b76;
    transform: scale(1.05);
  }
}

input:focus,
button:focus {
  outline: none;
}

@media (max-width: 736px) {
  .body {
    width: 100%;
  }

  .page {
    width: 100%;
  }

  .buttons {
    align-items: center;
  }
  button {
    width: 50%;
  }

  form > h1 {
    text-align: center;
  }

  .name,
  .address-info,
  .cc-info {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .name > div,
  .address-info > div,
  .cc-info > div {
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .street,
  .cc-number {
    text-align: center;
  }

  input {
    margin: 5px 0;
    min-height: 30px;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #24243e;
}

::-webkit-scrollbar-thumb {
  background-color: #573b8a;
  border-radius: 20px;
  border: 3px solid #573b8a;
}
