body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
.main {
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: red;
  overflow: hidden;
  background-color: #24243e;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  padding: 10px;
  overflow-y: scroll;
}

span {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
h4 {
  color: white;
  font-size: 20px;
  line-height: 30px;
}
form > div {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  gap: 10px;
}
form > aside {
  display: flex;
  gap: 10px;
}
input,
textarea {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  margin: 20px auto;
  padding: 10px 50px 10px 50px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #6d44b8;
}
.main > div > img {
  width: 30%;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  color: white;
}
/* Responsive */
@media screen and (max-width: 1330px) {
  .main {
    overflow-y: scroll;
  }
}
@media screen and (max-width: 1100px) {
  .main {
    width: 60vw;
    height: 80vh;
  }
}
@media screen and (max-width: 600px) {
  .main {
    width: 80vw;
    height: 80vh;
  }
}
@media screen and (max-width: 420px) {
  input {
    width: 60%;
    font-size: 8px;
    line-height: 20px;
  }
  form,
  form > div {
    display: flex;
    flex-direction: column;
  }
}
.flash {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #24243e;
  font-size: 15px;
  padding-top: 10px;
  color: yellow;
}
.flashes {
  display: none;
  justify-content: center;
  align-items: center;
  background: #24243e;
  font-size: 15px;
  padding-top: 10px;
  color: yellow;
}
.hide {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  color: black;

  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  margin: 20px auto;
  padding: 10px 50px 10px 50px;
  border: none;
  outline: none;
  border-radius: 5px;
}
#choose-file {
  display: none;
}
